* {
  font-family: $font-Chonburi;
  background-color: lightgrey;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: $colorHeader;

}

a:hover {
  font-weight: bold;
}
$mobileView: "max-width:1200px";
$desktopView: "min-width:1201px";


#triangle {
  margin: 25% auto;
}

button {
  @include button;
}
.loginFormStyle {
  display: block;
}

.registrationBtn {
  margin-left: 130px;
}.loginBtn {
  margin-left: 100px;
}