$pinkNude: #f1c6ff;
$lila:#978eff;
$blue:#505aa7;
$darkBlue:#1c2d58;
$redNude: #ff8497;
$pink:#cb557e;
$begeYellow:#ffc6a8;
$violetRed: #883e6e;
$darkViolet:#56355f;
$lightBlue: #558c9e;
$lightPink:#c8a8ca;
$bege1: #e0c9cf;
$bege2: #e7e7d1;
$bege3: #f9f9f9;
$seaBlue:#558c9e;
$colorHeader: #394b58;
$colorBackgroundHeader: #aabbb3;