$font-Chonburi: 'Chonburi', cursive;
//$fontSizeTitle: 3rem;
//$fontSizeContent: 1.5rem;
//$fontSizeComment: 1rem;
//$fontHeader: 4rem;

$fontSizeTitleMobile: 1.2rem;
$fontSizeTitleDesktop: 1.5rem;

$fontSizeContentMobile: 1rem;
$fontSizeContentDesktop: 1.2rem;

$fontSizeCommentMobile: 0.4rem;
$fontSizeCommentDesktop: 1rem;

$fontSizeHeaderMobile: 2.5rem;
$fontSizeHeaderDesktop: 3.5rem;



