h1 {
  color: $colorHeader;
  text-align: center;
  text-transform: uppercase;
  line-height: 70px;
  letter-spacing: 4.3px;

  @media ($mobileView) {
    font-size: $fontSizeHeaderMobile;
  }
  @media ($desktopView) {
    font-size: $fontSizeHeaderDesktop;
  }
}

.xNavigation {
  @media ($mobileView) {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 40px;
    height: 40px;
    justify-content: space-around;
  }
  @media ($desktopView) {
    display: none;
  }
}

.xNavigationInside {
  width: 40px;
  height: 5px;
  border-radius: 10px;
  transition: 0.3s linear;
}


div {
  max-width: 90%;
  margin: 5px auto;
}

.homeNav {
  height: 60px;
  @include navText;
  background-color: $lightBlue;
  border-radius: 10px;
  margin: 10px 0 0 0;

  @media ($mobileView) {
    position: absolute;
    height: 50vh;
    left: 40px;
    font-size: $fontSizeTitleMobile;
    flex-flow: row-reverse nowrap;
    border-radius: 10px;
    display: none;
  }

  @media ($desktopView) {
    font-size: $fontSizeTitleDesktop;
    display: flex;
    justify-content: space-around;
    min-width: 90%;
    line-height: 50px;
    margin: 10px auto;
  }
}

li a {
  display: block;
  padding: 5px 10px;
  background-color: $lightBlue;


  @media ($mobileView) {
    padding: 20px;
  };

  @media ($desktopView) {
    display: block;
  }
}

li a:hover {
  background-color: lighten($lightBlue, 5%);
};
