@mixin navText {
  text-transform: capitalize;
  list-style: none;
  color: $colorHeader;
  text-decoration: none;
}
@mixin button {
  box-shadow: 2px 3px 0 0 $colorHeader;
  background: linear-gradient(to bottom, $bege3 5%, #bab1ba 100%);
  border-radius: 15px;
  border: 1px solid $colorHeader;
  display: inline-block;
  color: $colorHeader;
  font-size: 17px;
  padding: 5px 20px;
  text-shadow: 0 1px 0 $colorBackgroundHeader;
  &:hover {
    background: linear-gradient(to bottom, $seaBlue 5%, #bab1ba 100%);
  }
}
